.nav{
	padding: 10px;
	background-color: #c7c7c7;
}
h1{
	color: red; text-align: center
}
h2{
	color: gray; text-align: center
}
.byline-paragraph{
	font-style: italic; font-size: 14px;
}
body{
	background-color: #e3e3e3;
	font-family: Verdana; font-size: 14px;
}
img{
	float: left;
	margin-right: 20px;
}
.caption-paragraph{
	font-style: italic; font-size: 12px;
}